<div class="panel">
    <h1>La vaca voladora</h1>
    <div class="formset">
        <div class="form-group">
            <label class="form-label">Usuario</label>
            <input class="form-control" type="text" />
        </div>
        <div class="form-group">
            <label class="form-label">Contraseña</label>
            <input class="form-control" type="Contraseña" />
        </div>
        <button class="btn">Inicio de sesión</button>
    </div>
    <h4>Inicio de sesión con</h4>
    <form class="twitter log-form">
        <h3 class="caption fa fa-twitter"></h3>
        <p>Inicio de sesión con Twitter</p><i class="close">&times;</i>
        <div class="formset">
            <div class="form-group">
                <label class="form-label">Usuario</label>
                <input class="form-control" type="text" />
            </div>
            <div class="form-group">
                <label class="form-label">Contraseña</label>
                <input class="form-control" type="Contraseña" />
            </div>
            <button class="btn">Inicio de sesión</button>
        </div>
    </form>
    <form class="google log-form">
        <h3 class="caption fa fa-google-plus"></h3>
        <p>Inicio de sesión con Google + </p><i class="close">&times;</i>
        <div class="formset">
            <div class="form-group">
                <label class="form-label">Usuario</label>
                <input class="form-control" type="text" />
            </div>
            <div class="form-group">
                <label class="form-label">Contraseña</label>
                <input class="form-control" type="Contraseña" />
            </div>
            <button class="btn">Inicio de sesión</button>
        </div>
    </form>
    <form class="facebook log-form">
        <h3 class="caption fa fa-facebook"><span class="material-icons">
            facebook
            </span></h3>
        <p>Inicio de sesión con Facebook </p><i class="close">&times;</i>
        <div class="formset">
            <div class="form-group">
                <label class="form-label">Usuario</label>
                <input class="form-control" type="text" />
            </div>
            <div class="form-group">
                <label class="form-label">Contraseña</label>
                <input class="form-control" type="Contraseña" />
            </div>
            <button class="btn">Inicio de sesión</button>
        </div>
    </form>
</div>