h1{
    
    text-align: center;
    margin: 1em 0 0.5em 0;
	color: #261d1d;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;   
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
	text-shadow: 0 2px white, 0 3px #777;
}

div{
    margin: 0 auto;
    padding-top: 15px;
    width: 50%;
    border-radius: 25px;
}

img{
    width: 100%;
    height: 100%;
}